body {
    font-family: arial, sans-serif;
    font-size: 14px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 125px 150px 1fr 60px;
    height: 100vh;
    grid-template-areas:
        "left-nav . right-nav"
        ". google-img ."
        ". search ."
        "country country country"
        "footer footer footer";
}

.left-nav {
    grid-area: left-nav;
    padding-left: 20px;
}

.right-nav {
    grid-area: right-nav;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "top-right-links option-dots signin-button";
    justify-self: end;
    padding-right: 20px;
}

#option-dots {
    width: 20px;
    padding-top: 15px;
}

#signin-button {
    background: #1a73e8;
    border-radius: 7px;
    height: 45px;
    width: 120px;
    color: white;
}

.google-img {
    grid-area: google-img;
    justify-self: center;
}

.search-bar {
    grid-area: search;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "search-box search-box"
        "search-button lucky-button";
    grid-gap: 20px;
    justify-self: center;
    align-items: start;

}
#search-box {
    border-radius: 25px;
    border-width: 3px;
    border-color: rgb(158, 158, 160);
    min-width: 450px;
    height: 50px;
    grid-area: search-box;
    justify-self: center;
    border-color: #dfe1e5;
    border-width: 1px;
}
#search-button {
    grid-area: search-button;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    justify-self: end;
    color: #202124;
    background-color: #f8f9fa;
    border: solid;
    border-color: #dadce0;
    border-width: 1px;
}
#lucky-button {
    background: yellow;
    grid-area: lucky-button;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    justify-self: start;
    color: #202124;
    background-color: #f8f9fa;
    border: solid;
    border-color: #dadce0;
    border-width: 1px;
}
.country {
    background: #edece8;
    color: #70757a;
    border-width: 1px;;
    align-self: end;
    grid-area: country;
    border-bottom: 1px solid #dadce0;
    padding-left: 20px;
}

.footer {
    background: #edece8;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    grid-template-areas: "left-foot mid-foot right-foot";
    color: #70757a;
}

#left-footer {
    grid-area: left-foot;
    justify-self: start;
    padding-left: 20px;
}

#middle-footer {
    grid-area: mid-foot;
    justify-self: center;
}

#right-footer {
    grid-area : right-foot;
    justify-self: end;
    padding-right: 20px;
}