body {
    font-family: arial, sans-serif;
    font-size: 14px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 125px 220px 1fr 60px;
    height: 100vh;
    grid-template-areas:
        "left-nav . right-nav"
        ". google-img ."
        ". search ."
        "country country country"
        "footer footer footer";
}

a {
    text-decoration: none;
}

a:visited {
    color: #202124;
}

a:hover {
    text-decoration: underline;
}

.left-nav {
    grid-area: left-nav;
    padding-left: 20px;
    padding-top: 15px;
    grid-template-columns: 80px 1fr;
    grid-template-areas: "lt-link-1 lt-link-2";
}

#lt-link-1, #lt-link-2 {
    color: black;
    align-self: center;
}

.right-nav {
    grid-area: right-nav;
    display: grid;
    grid-template-columns: 1fr 80px 50px 150px;
    grid-template-rows: 50px;
    grid-template-areas: "rt-link-1 rt-link-2 option-dots signin-button";
    justify-items: end;
    padding-right: 20px;
}

#rt-link-1, #rt-link-2 {
    color: black;
    align-self: center;
}

#option-dots {
    width: 20px;
    padding-top: 15px;
    grid-area: option-dots;
}

#signin-button {
    background: #1a73e8;
    border-radius: 7px;
    height: 45px;
    width: 120px;
    color: white;
    grid-area: signin-button;
}

.google-img {
    grid-area: google-img;
    justify-self: center;
}

.search-bar {
    grid-area: search;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "searchbox searchbox"
        "search-button lucky-button";
    grid-gap: 20px;
    justify-self: center;
    align-items: start;
    padding-top: 20px;
}
.search-box {
    border-radius: 25px;
    border-width: 3px;
    min-width: 500px;
    height: 45px;
    grid-area: searchbox;
    justify-self: center;
    border: 1px solid #dfe1e5;
    padding-left: 45px;

}

#search-box {
    background: white url(search.svg) center no-repeat;
    background-position: 3%
}
.search-box:hover {
    box-shadow: 1px 1px 5px rgb(191, 191, 194);
}

#search-button {
    grid-area: search-button;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    justify-self: end;
    color: #202124;
    background-color: #f8f9fa;
    border: 0px solid #dadce0;

}
#search-button:hover {
    border: 1px solid rgb(212, 212, 221);
}

#lucky-button {
    grid-area: lucky-button;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    justify-self: start;
    color: #202124;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}
#lucky-button:hover {
    border: 1px solid rgb(212, 212, 221);
}

.country {
    background: #edece8;
    color: #70757a;
    border-width: 1px;;
    align-self: end;
    grid-area: country;
    border-bottom: 1px solid #dadce0;
    padding-left: 20px;
}

.footer {
    background: #edece8;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left-foot mid-foot right-foot";
    color: #70757a;

}

.left-footer {
    grid-area: left-foot;
    display: grid;
    grid-template-columns: 100px 100px 120px;
    grid-template-areas: "lt-foot-link-1 lt-foot-link-2 lt-foot-link-3";
    padding-left: 20px;
    align-self: center;
}
#lt-foot-link-1, #lt-foot-link-2, #lt-foot-link-3 {
    color: #70757a;

}

.middle-footer {
    grid-area: mid-foot;
    color: #70757a;
    align-self: center;
    justify-self: center;
}

.right-footer {
    grid-area : right-foot;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-areas: "rt-foot-link-1 rt-foot-link-2 rt-foot-link-3";
    justify-self: end;
    padding-right: 20px;
    align-self: center;

}
#rt-foot-link-1, #rt-foot-link-2, #rt-foot-link-3 {
    color: #70757a;
}
